
        body {
            background-color: #E1E4F0;
            margin: auto;
            padding: auto;
        }

        h1 {
            text-align: center;
            font-size: 50px;
            font-family: 'Times New Roman';
        }

        aside h2 {
            
            font-size: 25px;
            vertical-align: sub;
        }

        img {
            border-radius: 50%;
            width: 350px;
            height: 350px;
        }
        section h2 {
            text-align: justify;
            font-family: 'Times New Roman';
            font-size: 35px;
        }

        p,li {
            text-align: justify;
            font-family: 'Times New Roman';
            font-size: 20px;
        }

        footer {
            background-color: #4C5B61;
        }
        
        footer p {
            color: white;
            font-size: medium;
            text-align: center;
        }

        .nave {
            list-style: none;
            padding: 0px;
            background-color: #4C5B61;
            width: 90%;
            max-width: 1000px;
            margin: auto;
        }
        
        .nave li {
            display: inline-block;
        }
        
        .nave li a {
            text-decoration: none;
            color: white;
            padding: 20px;
            display: block;
            font-family: 'Times New Roman';
        }
        
        .nave li a:hover {
            background-color: orangered;
        }
        .Izq{
            width: 35%;
            float: left;
        }

        .der{
            width: 65%;
            float: right;
        }
       
        aside {
            width: 35%;
            float: right;
        }
        aside h2 {
            text-align: center;
        }

        section {
            width: 65%;
            float: left;
        }

        aside h2, li{
            text-align: center;
        }

        li{
            text-decoration: none;
        }
        .icon{
            width: 50px;
            height: 50px;
        }
        
